@import "../node_modules/modern-normalize/";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

body {
  background-color: #f1f5f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  line-height: 1.5;
}

.icon {
  width: 24px;
}

header .icon,
footer .icon {
  width: 48px;
}

main {
  background-image: url("./images/eclipse.svg");
  background-repeat: no-repeat;
  padding: 16px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header figure figcaption {
  font-family: "EB Garamond", serif;
  color: white;
  font-size: 3rem;
  transform: translateY(-100%);
  text-shadow: 2px 2px gray;

  margin-bottom: -2rem;
}

header figure img {
  width: 60vw;
  box-shadow: 0px 2px 10px 1px #030712;
}

header article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header article > * {
  margin: 0;
}

.social-media-list,
.project-links-list {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.project-container {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border: 1px solid #94a3b8;
  box-shadow: 0px 2px 10px 1px #030712;
  padding-bottom: 100px;
  margin-bottom: 2rem;
}

.project-container > img {
  width: 90vw;
  align-self: center;
}

.project-header,
.project-description {
  padding: 8px 16px;
  margin: 0;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-name {
  flex: 1;
  margin: 0;
  font-size: 2rem;
}

footer {
  background-color: #0369a1;
  color: #dbeafe;
  padding-top: 5px;
}

footer > * {
  margin: 16px;
}

footer > :last-child {
  margin: 0;
}

footer picture img {
  width: 100%;
  transform: translateY(1%);
}

@media (min-width: 769px) {
  main {
    padding: 64px;
  }

  header {
    margin-top: 64px;
    border: 1px solid #94a3b8;
    background-color: #fafafa;
    box-shadow: 0px 2px 10px 1px #030712;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 64px 16px;
  }

  header .social-media-list {
    display: none;
  }

  header figure {
    transform: translate(-48px, -160px);
    display: grid;
    grid-template-areas: "caption" "image";
  }

  header figure img {
    grid-area: image;
    width: 35vw;
  }

  header figure figcaption {
    grid-area: caption;
    transform: translate(90%, 70%);
    margin-bottom: -2rem;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: stretch;
  }

  section .my-work {
    grid-column-start: span 2;
  }

  .project-container > img {
    width: 100%;
  }

  footer {
    padding: 48px;
    display: grid;
    grid-template-rows: repeat(3, min(min-content, 1fr));
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  footer .social-media-list {
    justify-content: flex-start;
  }

  footer .icon {
    width: 24px;
  }

  footer picture {
    grid-row: 1/4;
    grid-column: 2/3;
  }

  footer picture img {
    transform: translateY(0%);
  }
}

@media (min-width: 1280px) {
}
